<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href='/signup.min.css'>
  <link rel="stylesheet" href="/common.min.css">
</head>
<body>
  <h1><%= action + ' family'%></h1>
  <form class='signup-form'>
    <label for="signup-name">Enter your last name</label>
    <input type="text" id='signup-name' name='lastName'>
    <label for="signup-password">
      <% if (action === 'create') { %>
        Create a family password 
      <% } else { %>
        Enter the family password
      <% } %>
    </label>
    <input type="text" id='signup-password' name="password">
    <label for="signup-email">Enter your email</label>
    <input type="text" id='signup-email' name="email">
    <button class='signup-btn'><%= action %></button>
  </form>
  <script defer src="<%= host + '/signup.bundle.js' %>"></script>
</body>
</html>