.create-event * {
  display: block;
}

.create-event input, .create-event select {
  margin-bottom: var(--spc-md);
}

#alert-desc {
  width: 100%;
  height: 8rem;
  padding: .4rem;
  outline: none
}
#alert-desc:focus {
  background-color: var(--pink);
  color: var(--white);
}