<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A planner for better adulting</title>
  <link rel="stylesheet" href="<%= '/' + section + '.min.css' %>">
  <link rel="stylesheet" href="/common.min.css">
</head>
<body>
  <nav class='header-nav'>
    <h1><%= section.slice(0, 1).toUpperCase() + section.slice(1) %></h1>
    <% if (
      section == 'events' || 
      section == 'meals' ||
      section == 'schedule'
    ) { %>
      <button class='create-btn'>
        Create new <%= section %>
      </button>
    <% } %> 
  </nav>